<div id="<%= dom_id message %>">
  <article class="chat-line">
    <span class=""><%=message.mylang%></span>
                                                 <span class="body"><%=simple_format(message.code.indenthtml)%></span>
                                                                                                                                                           <hr>
                                                                                                                                                           <span class="body"><%=simple_format(message.print.indenthtml)%></span>
                                                                                                                                                                                                                                                                           </article>

</div>
