<h1>Editing programminglanguage</h1>

<%= render "form", programminglanguage: @programminglanguage %>

<br>

<div>
  <%= link_to "Show this programminglanguage", @programminglanguage %> |
  <%= link_to "Back to programminglanguages", programminglanguages_path %>
</div>
